In [202]:
import numpy as np
import pandas as pd
import os
from glob import glob
import matplotlib.pyplot as plt
import seaborn as sns

In [203]:
samsung_base_dir = r'D:\MyDocuments\Downloads\samsunghealth_toanyone_202101111626\samsunghealth_toanyone_202101111626'

In [206]:
samsung_dump_dirs = glob(os.path.join(samsung_base_dir, '*'))
samsung_dump_dir = os.path.basename(samsung_dump_dirs[0])
print(len(samsung_dump_dirs), 'dumps found, taking first:', samsung_dump_dir)

samsung_csv_paths = glob(os.path.join(samsung_base_dir, samsung_dump_dir, '*.csv'))
print(len(samsung_csv_paths), 'csvs found')
samsung_json_paths = glob(os.path.join(samsung_base_dir, samsung_dump_dir, 'jsons', '*',  '*.json'))
print(len(samsung_json_paths), 'jsons found')

59 dumps found, taking first: com.samsung.health.caffeine_intake.202101111626.csv
0 csvs found
0 jsons found

In [379]:
food_info_df = pd.read_csv(samsung_base_dir + '\com.samsung.health.food_info.202101111626.csv', index_col=False)

우선 Dataframe 구조를 한번 확인해 보자

In [380]:
food_info_df.head(5)

,potassium,vitamin_a,vitamin_c,cholesterol,description,custom,provider_food_id,metric_serving_amount,sodium,dietary_fiber,...,info_provider,deviceuuid,metric_serving_unit,saturated_fat,trans_fat,pkg_name,carbohydrate,unit_count_per_calorie,datauuid,default_number_of_serving_unit
0,256.0,1.0000,0.0,0.0,"353 kcal, 100 g당",NaN,samsungosp-012011,100,4.0,3.09,...,NaN,Dl8L2b9Gg3,g,0.03,0.0,com.sec.android.app.shealth,76.6,0.283447,f4bc7dfb-b392-43d5-bfd1-030788a67baa,1
1,83.0,1.0000,0.0,0.0,"317 kcal, 90 g당",NaN,samsungosp-011003,90,5.0,0.86,...,NaN,Dl8L2b9Gg3,g,0.00,0.0,com.sec.android.app.shealth,70.7,0.284091,ed31b12e-38b8-4e46-a72b-554137a5b822,1
2,72.0,18.0000,0.0,7.0,"43 kcal, 115 g당",NaN,samsungosp-203017,115,5.0,0.00,...,NaN,Dl8L2b9Gg3,g,0.00,0.0,com.sec.android.app.shealth,5.8,2.686916,996eba89-26cc-434b-bad1-2e293be7b675,1
3,380.0,7.0000,10.0,0.0,"80 kcal, 100 g당",NaN,samsungosp-211016,100,2.0,1.80,...,NaN,Dl8L2b9Gg3,g,0.00,0.0,com.sec.android.app.shealth,21.1,1.250000,3ff6ac7b-5234-4529-8407-2a1ed9f61605,1
4,805.0,53.1429,22.0,260.0,841 kcal,NaN,HC-K00000003756-90092681,0,1522.0,5.00,...,Welstory+,000000000000,NaN,6.00,0.0,com.welstory.healthcare,118.0,0.000000,08a35fda-5a96-4cc7-bb50-36bdb554eec2,1

In [381]:
food_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   potassium                       3229 non-null   float64
 1   vitamin_a                       3229 non-null   float64
 2   vitamin_c                       3229 non-null   float64
 3   cholesterol                     3229 non-null   float64
 4   description                     3229 non-null   object
 5   custom                          0 non-null      float64
 6   provider_food_id                3229 non-null   object
 7   metric_serving_amount           3229 non-null   int64
 8   sodium                          3229 non-null   float64
 9   dietary_fiber                   3229 non-null   float64
 10  total_fat                       3229 non-null   float64
 11  update_time                     3229 non-null   object
 12  create_time                     3229 non-null   object
 13  monosaturated_fat               3229 non-null   float64
 14  protein                         3229 non-null   float64
 15  polysaturated_fat               3229 non-null   float64
 16  iron                            3229 non-null   float64
 17  name                            3229 non-null   object
 18  sugar                           3229 non-null   float64
 19  calcium                         3229 non-null   float64
 20  calorie                         3229 non-null   float64
 21  serving_description             3229 non-null   object
 22  info_provider                   3187 non-null   object
 23  deviceuuid                      3229 non-null   object
 24  metric_serving_unit             42 non-null     object
 25  saturated_fat                   3229 non-null   float64
 26  trans_fat                       3228 non-null   float64
 27  pkg_name                        3229 non-null   object
 28  carbohydrate                    3229 non-null   float64
 29  unit_count_per_calorie          3229 non-null   float64
 30  datauuid                        3229 non-null   object
 31  default_number_of_serving_unit  3229 non-null   int64
dtypes: float64(19), int64(2), object(11)
memory usage: 807.4+ KB

In [407]:
food_intake_df = pd.read_csv(samsung_base_dir + '\com.samsung.health.food_intake.202101111626.csv', index_col=False)

In [408]:
food_intake_df.head(5)

,start_time,amount,custom,update_time,create_time,meal_type,name,unit,calorie,time_offset,deviceuuid,comment,pkg_name,datauuid,food_info_id
0,2018-10-13 10:00:00.000,NaN,NaN,2018-10-13 10:02:50.451,2018-10-13 10:02:50.451,100003,NaN,NaN,786.0,UTC+0900,IOsi0gHZq8,NaN,com.sec.android.app.shealth,3c52ce8d-c530-4df7-b3e2-6dbb7dab8868,meal_auto_filled
1,2018-10-29 10:00:00.000,1.0,NaN,2018-10-29 10:00:00.298,2018-10-29 10:00:00.298,100003,NaN,NaN,786.0,UTC+0900,NHQ4s4ZY05,NaN,com.sec.android.app.shealth,721d972b-cd5e-8066-f4e4-4bcdb217404b,meal_auto_filled
2,2018-10-21 10:00:00.000,NaN,NaN,2018-10-21 10:00:46.434,2018-10-21 10:00:46.434,100003,NaN,NaN,786.0,UTC+0900,IOsi0gHZq8,NaN,com.sec.android.app.shealth,786a36bb-2b2c-40b4-8cfe-68a7ec44d1dd,meal_auto_filled
3,2018-09-10 10:00:00.000,NaN,NaN,2018-09-10 10:00:59.401,2018-09-10 10:00:59.401,100003,NaN,NaN,801.0,UTC+0900,IOsi0gHZq8,NaN,com.sec.android.app.shealth,6d41f362-b3ce-40b6-837c-9dc3c7d59560,meal_auto_filled
4,2018-09-03 00:00:00.000,1.0,NaN,2018-09-03 00:00:01.285,2018-09-03 00:00:01.285,100001,NaN,NaN,802.0,UTC+0900,NHQ4s4ZY05,NaN,com.sec.android.app.shealth,d072e786-934a-4379-298f-060bc2fd34ee,meal_auto_filled

In [409]:
food_intake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start_time    4332 non-null   object
 1   amount        4029 non-null   float64
 2   custom        0 non-null      float64
 3   update_time   4332 non-null   object
 4   create_time   4332 non-null   object
 5   meal_type     4332 non-null   int64
 6   name          3185 non-null   object
 7   unit          3443 non-null   float64
 8   calorie       4332 non-null   float64
 9   time_offset   4332 non-null   object
 10  deviceuuid    4332 non-null   object
 11  comment       0 non-null      float64
 12  pkg_name      4332 non-null   object
 13  datauuid      4332 non-null   object
 14  food_info_id  4332 non-null   object
dtypes: float64(5), int64(1), object(9)
memory usage: 507.8+ KB

In [410]:
food_intake_df['start_time'] = pd.to_datetime(food_intake_df['start_time'])
food_intake_df['update_time'] = pd.to_datetime(food_intake_df['update_time'])
food_intake_df['create_time'] = pd.to_datetime(food_intake_df['create_time'])

In [411]:
food_intake_df['name'].value_counts()

선택형 Take Out             518
흑미밥                      141
1종과일                      63
음료                        62
단무지                       56
                        ...
왕새우만두찜                     1
머쉬룸버거                      1
동치미막국수&모둠만두찜&메밀전병(김치)      1
사골우거지탕                     1
문어소바                       1
Name: name, Length: 840, dtype: int64

In [412]:
food_intake_df['custom'].value_counts()

Series([], Name: custom, dtype: int64)

In [413]:
food_intake_df['unit'].value_counts()

 120001.0    3185
-1.0          258
Name: unit, dtype: int64

In [414]:
food_intake_df['comment'].value_counts()

Series([], Name: comment, dtype: int64)

In [415]:
food_intake_df['pkg_name'].value_counts()

com.welstory.healthcare        3180
com.sec.android.app.shealth    1152
Name: pkg_name, dtype: int64

In [419]:
food_intake_df.drop(['custom','unit', 'comment', 'pkg_name', 'time_offset'], axis=1, inplace=True)

In [420]:
food_intake_df.head(10)

,start_time,amount,update_time,create_time,meal_type,name,calorie,deviceuuid,datauuid,food_info_id
0,2018-10-13 10:00:00,NaN,2018-10-13 10:02:50.451,2018-10-13 10:02:50.451,100003,NaN,786.0,IOsi0gHZq8,3c52ce8d-c530-4df7-b3e2-6dbb7dab8868,meal_auto_filled
1,2018-10-29 10:00:00,1.0,2018-10-29 10:00:00.298,2018-10-29 10:00:00.298,100003,NaN,786.0,NHQ4s4ZY05,721d972b-cd5e-8066-f4e4-4bcdb217404b,meal_auto_filled
2,2018-10-21 10:00:00,NaN,2018-10-21 10:00:46.434,2018-10-21 10:00:46.434,100003,NaN,786.0,IOsi0gHZq8,786a36bb-2b2c-40b4-8cfe-68a7ec44d1dd,meal_auto_filled
3,2018-09-10 10:00:00,NaN,2018-09-10 10:00:59.401,2018-09-10 10:00:59.401,100003,NaN,801.0,IOsi0gHZq8,6d41f362-b3ce-40b6-837c-9dc3c7d59560,meal_auto_filled
4,2018-09-03 00:00:00,1.0,2018-09-03 00:00:01.285,2018-09-03 00:00:01.285,100001,NaN,802.0,NHQ4s4ZY05,d072e786-934a-4379-298f-060bc2fd34ee,meal_auto_filled
5,2018-10-15 05:00:00,1.0,2018-10-15 05:00:00.082,2018-10-15 05:00:00.082,100002,NaN,786.0,NHQ4s4ZY05,c5bb5a08-bcea-b6be-1c53-b941f6cc8b15,meal_auto_filled
6,2018-09-06 10:00:00,NaN,2018-09-06 10:01:10.353,2018-09-06 10:01:10.353,100003,NaN,801.0,IOsi0gHZq8,796a582a-7278-4fb1-b367-aabe9400289a,meal_auto_filled
7,2018-10-23 10:00:00,NaN,2018-10-23 10:00:52.555,2018-10-23 10:00:52.555,100003,NaN,786.0,IOsi0gHZq8,4c33bd7b-6831-474b-bcd3-8abdccf33b1b,meal_auto_filled
8,2018-09-09 00:00:00,NaN,2018-09-09 00:00:55.958,2018-09-09 00:00:55.958,100001,NaN,802.0,IOsi0gHZq8,52976b12-5827-46fd-8b4e-92875df3cce1,meal_auto_filled
9,2018-09-10 10:00:00,1.0,2018-09-10 10:00:00.273,2018-09-10 10:00:00.273,100003,NaN,801.0,NHQ4s4ZY05,ea61a28e-0cd8-ee48-5696-0558cc22442c,meal_auto_filled

In [421]:
food_intake_df['meal_type'].value_counts()

100002    2274
100003    1396
100001     662
Name: meal_type, dtype: int64

In [382]:
food_info_df['name']

0                잡곡밥
1                 쌀밥
2           커피,설탕,프림
3                바나나
4                가츠동
            ...
3224            미니우동
3225           치즈돈가스
3226            미니우동
3227          양배추샐러드
3228    선택형 Take Out
Name: name, Length: 3229, dtype: object